<div *ngIf="!isLoading">
    <h1 *ngIf="user.role === role.user">Здравствуйте юзер, ваши данные:</h1>
    <h1 *ngIf="user.role === role.admin">Здравствуйте администратор, ваши данные:</h1>

    <div *ngFor="let item of user | keyvalue">
        <b>{{item.key}}</b>: {{item.value}}
    </div>

    <button (click)="logout()">Разлогиниться</button>

    <form (submit)="updateInfo()" class="info__form" ngNativeValidate>
        <h2>Обновите свои данные:</h2>
        <input class="info__input" [(ngModel)]="info.email" name="email" type="email" placeholder="Введите email:" required />
        <input class="info__input" [(ngModel)]="info.login" name="login" type="text" placeholder="Введите login:" required />
        <input class="info__input" [(ngModel)]="info.profession" name="profession" type="text" placeholder="Введите profession:" required />
        <input class="info__input" [(ngModel)]="info.username" name="username" type="text" placeholder="Введите username:" required />
        <button class="info__submit" type="submit">Сохранить</button>
    </form>

    <form (submit)="updatePassword()" class="info__form" ngNativeValidate>
        <h2>Обновите пароль:</h2>
        <input class="info__input" [(ngModel)]="passwordData.password" name="password" type="password" placeholder="Введите пароль:" required />
        <input class="info__input" [(ngModel)]="passwordData.password_confirm" name="passwordConfirm" type="password" placeholder="Подтвердите пароль:" required />
        <button class="info__submit" type="submit">Сохранить</button>
    </form>

    <div *ngIf="user.role === role.admin">
        <ul>
            <li class="info__list-item" *ngFor="let user of users">
                <div *ngFor="let item of user | keyvalue">
                    <b>{{item.key}}</b>: {{item.value}}
                </div>
                <button (click)="deleteUser(user.id)">Удалить пользователя</button>
            </li>
        </ul>

        <form (submit)="createUser()" class="info__form" ngNativeValidate>
            <h1>Создать нового пользователя:</h1>
            <input class="info__input" [(ngModel)]="newUser.email" name="email" type="email" placeholder="Введите email:" required />
            <input class="info__input" [(ngModel)]="newUser.login" name="login" type="text" placeholder="Введите login:" required />
            <input class="info__input" [(ngModel)]="newUser.username" name="username" type="text" placeholder="Введите username:" required />
            <input class="info__input" [(ngModel)]="newUser.profession" name="profession" type="text" placeholder="Введите профессию:" required />
            <select [(ngModel)]="newUser.role" name="role" required="">
                <option [ngValue]="role.user">user</option>
                <option [ngValue]="role.admin">admin</option>
            </select>
            <button class="info__submit" type="submit">Создать</button>
        </form>
    </div>
</div>
