<form (submit)="submitForm()" class="login" ngNativeValidate>
    <h1>Страница Логина:</h1>
    <input class="login__input" [(ngModel)]="email" name="email" type="email" placeholder="Введите email:" required />
    <input class="login__input" [(ngModel)]="password" name="password" type="password" placeholder="Введите пароль:" required />
    <button class="login__btn" type="submit">Войти</button>
    <button (click)="goToRegister()" class="login__btn" type="button">Перейти на регистрацию</button>
</form>
