.register {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 15px;
  }

  &__submit {
    font-size: 25px;
    padding: 20px;
  }
}
