<form (submit)="submitForm()" class="register" ngNativeValidate>
    <h1>Страница регистрации:</h1>
    <input class="register__input" [(ngModel)]="email" name="email" type="email" placeholder="Введите email:" required />
    <input class="register__input" [(ngModel)]="login" name="login" type="text" placeholder="Введите login:" required />
    <input class="register__input" [(ngModel)]="username" name="username" type="text" placeholder="Введите username:" required />
    <input class="register__input" [(ngModel)]="profession" name="profession" type="text" placeholder="Введите профессию:" required />
    <input class="register__input" [(ngModel)]="password" name="password" type="password" placeholder="Введите пароль:" required />
    <input class="register__input" [(ngModel)]="passwordConfirm" name="passwordConfirm" type="password" placeholder="Подтвердите пароль:" required />
    <button class="register__submit" type="submit">Зарегистрироваться</button>
</form>
